@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;

.heroMainContainer {
  background-color: $primaryColor-green;
  padding: 2rem 10rem;

  section {
    @include flex(flex, row, center, center);
    gap: 2rem;
    color: #fff;

    .heroContainer {
      h1 {
        @include typography(
          $font-family-markazi-text,
          $font-size-title-64pt,
          $font-weight-medium,
          $primaryColor-yellow
        );
      }

      h2 {
        @include typography(
          $font-family-markazi-text,
          $font-size-subtitle-40pt,
          $font-weight-regular,
          #fff
        );
      }

      .description {
        @include typography(
          $font-family-karla,
          $font-size-descriptive-18pt,
          $font-weight-medium,
          #fff
        );
        max-width: 40rem;
        line-height: 1.5;
        margin-bottom: 3rem;
      }

      .btnReserve {
        padding: 1rem 3rem;
        background-color: $primaryColor-yellow;
        @include typography(
          $font-family-karla,
          $font-size-categories-16pt,
          $font-weight-bold,
          $secondaryColor-black
        );
        border-radius: $border-radious;
        cursor: pointer;
        transition: $transition;

        &:hover {
          transform: scale(1.2);
        }
      }
    }

    .imageContainer {
      position: relative;

      .heroImage {
        position: absolute;
        width: 100%;
        height: 40rem;
        border-radius: $border-radious;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        top: 10%;
      }
    }
  }
}

@include media-query("mobile") {
  .heroMainContainer {
    @include flex(flex, column, center, center);
    padding: 2rem;

    section {
      flex-direction: column;
      text-align: center;

      .imageContainer {
        display: none;
      }
    }
  }
}

@include media-query("tablet") {
  .heroMainContainer {
    @include flex(flex, column, center, center);
    padding: 3rem;

    section {
      flex-direction: column;
      text-align: center;

      .imageContainer {
        display: none;
      }
    }
  }
}

@include media-query("desktop") {
  .heroMainContainer {
    @include flex(flex, column, center, center);
    padding: 2rem 10rem;

    section {
      @include flex(flex, row, space-around, center);
      width: 100%;
      padding: 0 30rem;

      .imageContainer {
        display: block;
        width: 35rem;
        height: 40rem;
      }
    }
  }
}
