@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;

.menuContainer {
  @include flex(flex, column, center, center);
  width: 100%;
  padding: 0 2rem;
  margin-top: 10rem;
  margin-bottom: 4rem;

  .menuHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 5rem;
    padding: 0 10rem;

    h3 {
      @include typography(
        $font-family-markazi-text,
        $font-size-title-64pt,
        $font-weight-medium,
        $secondaryColor-black
      );
    }

    button {
      padding: 2rem 2rem;
      background-color: $primaryColor-yellow;
      @include typography(
        $font-family-karla,
        $font-size-categories-16pt,
        $font-weight-bold,
        $secondaryColor-black
      );
      border-radius: $border-radious;
      cursor: pointer;
      transition: $transition;
      width: 20rem;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .cardsContainer {
    @include flex(flex, row, center, center);
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
    padding: 0;

    .card {
      @include flex(flex, column, space-between, center);
      background-color: $secondaryColor-lightGray;
      border-radius: $border-radious;
      width: 100%;
      max-width: 35rem;
      min-height: 40rem;

      .cardImg {
        @include flex(flex, column, flex-start, center);
        width: 100%;
        height: 30rem;
        border-radius: 1.6rem 1.6rem 0 0;
      }

      .cardContent {
        display: flex;
        flex-direction: column;
        padding: 2rem;
        flex-grow: 1;
        justify-content: space-between;
        height: 35rem;

        .cardHeading {
          @include flex(flex, row, space-between, center);

          h4 {
            @include typography(
              $font-family-karla,
              $font-size-card-title-18pt,
              $font-weight-bold,
              $secondaryColor-black
            );
          }

          p {
            @include typography(
              $font-family-karla,
              $font-size-card-title-18pt,
              $font-weight-bold,
              $secondaryColor-orange
            );
          }
        }

        .cardDescriptionContainer {
          @include flex(flex, row, center, flex-start);
          height: 20rem;

          p {
            @include typography(
              $font-family-karla,
              $font-size-card-paragraph-16pt,
              $font-weight-regular,
              $primaryColor-green
            );
            text-align: justify;
            margin: 2rem 0;
          }
        }

        button {
          padding: 1.5rem;
          background-color: $primaryColor-yellow;
          border-radius: $border-radious;
          cursor: pointer;

          @include typography(
            $font-family-karla,
            $font-size-card-paragraph-16pt,
            $font-weight-bold,
            $secondaryColor-black
          );
          transition: $transition;

          &:hover {
            transform: scale(1.05);
          }
        }
      }
    }
  }
}

@include media-query("mobile") {
  .menuContainer {
    padding: 0 2rem;
    margin-top: 10rem;
  }

  .menuHeader {
    padding: 0 1rem;
    flex-direction: column;
    text-align: center;
    h3 {
      font-size: $font-size-title-64pt;
    }
    button {
      padding: 1rem 2rem;
      margin-top: 2rem;
    }
  }

  .cardsContainer {
    flex-direction: column;
    align-items: center;
  }
}

@include media-query("tablet") {
  .menuContainer {
    padding: 0 5rem;
    margin-top: 10rem;
  }

  .menuHeader {
    padding: 0 2rem;
    text-align: center;
    flex-direction: column;
    h3 {
      font-size: $font-size-title-64pt;
      margin-bottom: 3rem;
    }
    button {
      padding: 1.5rem 2rem;
    }
  }

  .cardsContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@include media-query("desktop") {
  .menuContainer {
    padding: 0 30rem;
    margin-top: 10rem;
  }

  .menuHeader {
    padding: 0 5rem;
    gap: 20rem;
    h3 {
      font-size: $font-size-title-64pt;
    }
    button {
      padding: 2rem 3rem;
    }
  }
}
