@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;

.notFoundContainer {
  @include flex(flex, column, flex-start, center);
  height: 100vh;
  background-color: "#f4f4f4";
  color: "#333";
  text-align: center;
  font-family: $font-family-karla;
  margin-top: 5rem;
}

.notFoundContainer h1 {
  font-size: 8rem;
  color: #e74c3c;
  font-weight: bold;
}
.notFoundContainer p {
  font-size: 2rem;
  color: #555;
  margin: 20px 0;
}
.notFoundContainer a {
  font-size: 2rem; 
  text-decoration: none;
  border-radius: $border-radious;
  background-color: $primaryColor-yellow;
  color: $secondaryColor-black;
  font-weight: $font-weight-medium;
  padding: 1.2rem;
  transition: $transition;

  &:hover {
    transform: scale(1.2);
  }
}
